/* div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}
form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  background-color: rgb(76, 252, 187);
  height: 320px;
  width: 200px;
  border-radius: 15px;
  box-shadow: rgb(40, 246, 219) 0px 54px 55px, rgb(102, 232, 191) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input{
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 19px;
  font-size: 11px;
  height: 25px;
  line-height: 30px;
}
input::placeholder{
  color: rgb(237, 101, 185);
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
}
button{
  border-radius: 5px;
  height: 25px;
  width: 60px;
  border: none;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(202, 236, 226);
  box-shadow: rgb(255, 0, 0) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

} */


/* 


/* TODO APP */

*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
li{
  color: snow;
}